[mysqld]

character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
max_connections         = 5000
max_allowed_packet      = 500M
innodb_buffer_pool_size = 2G
innodb_flush_neighbors  = 0
innodb_log_file_size    = 512M

# Timeout
connect_timeout         = 86400
wait_timeout            = 86400
interactive_timeout     = 86400
net_read_timeout        = 86400
net_write_timeout       = 86400

# Enable thread pool
thread_handling         = pool-of-threads
thread_pool_size        = 4
thread_pool_stall_limit = 60